a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
  padding: 0; }

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

.page-html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.page-body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

.page-body__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto; }
