@media (min-width: 100px) and (max-width: 1200px){
	
	// M Header Section 

	// M-MENU 

	.sprite-hamburger {
		display: block;
		width: 25px;
		height: 25px;

		fill: $col_purple;
	}

	.icon-hamburger {
		display: block;
		margin-top: 13px;
	}

	.page-header__information-close {
		display: block;
		width: 18px;
		height: 18px;

		fill: $col-white;

		position: absolute;

		top: 25px;
		right: 25px;
		
		transition: 0.45s;
		&:hover,
		&:active {
			fill: $col_grey;
		}
	}

	.container-header {
		flex-direction: column;
	}

	.page-header__image {
		display: flex;
		align-items: center;
		order: 2;

		max-width: 100%;
		margin:  0 auto;
	}

	.page-header__pictures {
		display: block;
		width: 60%;
	}

	.page-header__pictures-network {
		display: none;
	}

	.page-header__information-list {
		position: fixed;
		top: 0;
		right: -100%;
		z-index: 100010;

		flex-direction: column;
		
		align-items: center;

		order: 1;

		height: 100vh;
		width: 100%;

		transition: 0.7s;
		background-color: $col_grey; 
		background-image: linear-gradient(73deg, rgba(96, 49, 139, 0.88) 0%, rgba(160, 102, 213, 0.88) 100%);
	}

	.page-header__information-lead {
		color: $col_black;
		text-align: center;
		font-size: 11px;

		font-weight: 800;
	}

	.page-header__information--sprite {
		left: 0;
		right: 0;

		transform: translateY(-40px);

		display: inline-block;
		margin: 0 auto;

		fill: $col-white;
	}

	.page-header__information-item {
		display: block;
		padding: 0;
		margin-top: 95px;

		
		&:first-child {
			margin-top: 50px; 
		}
	}

	.page-header__information-item:before { 
		content: ''; 
		display: inline-block;
		margin: 0 auto;
		position: absolute; 
		transform: translateY(-40px); 
		
		left: 0;
		right: 0;
		
		width: 20px; 
		height: 30px; 

		border-radius: 1px; 
		border-bottom: 2px solid #d8d0e4; 
	}

	.page-header__information {
		font-size: 14px;
		color: $col_white;
		font-weight: 700;
		white-space: nowrap;
		text-align: center;
	}

	.page-header__navigation-list {
		overflow: scroll;
		transition: all .55s;
		padding-left: 10px;
	}

	.page-header__navigation-item {
		display: flex;
		align-items: center;
		text-align: center;

		margin-left: 14.5px;

		&:last-child {
		margin-left: 20px;
		}
	}
	
	.nav-item-basket {
		display: none;
	}

	.sticky {
		position: fixed;
		top: 0;

		z-index: 100003;
		
		max-width: 100%;
		width: 100%;

		justify-content: flex-start;
	}

	.page-header__navigation-link {
		transition: ‎all 0s ease;
	}

	.nav-item-basket {
		display: none;
	}

	// M Main Section 

	.container {
		max-width: none;
		overflow-y: hidden;
	}

	// Banner Section

	.page-main {
		border-top: 1px solid #edebf0;
	}

	.banner__container {
		z-index: auto;
		overflow-x: hidden;
	}

	.parallax {
		z-index: 5;
	}

	.parallax__item1 {
		display: block;
		transform: translateX(-100%);
	}

	.parallax__item3 {
		height: 595px;
		transform: translateX(130px);
		margin-top: 100px;
	}

	.banner__title {
		position: relative;
		z-index: 6;
		padding-top: 65px;
		margin: 0 auto;
	}

	.banner__heading {
		text-align: center;
		font-size: 24px;

		width: auto;
	}

	.banner__description {
		font-size: 14px;
		text-align: center;
		width: auto;
		margin-top: 15px;
	}

	.banner__offers {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
		position: relative;
		z-index: 4;
		display: flex;
		margin-top: 42px;
	}

	.offers__block {
		display: flex;
		width: 100%;

		&:first-child {
			margin-bottom: 25px;
		}
	}

	// Product List Section

	.product__head {
		margin-top: 25px;
	}

	.product__list {
		align-items: center;
		margin: 0;

		margin-top: 20px;
	}

	.product__item {
		margin: 15px auto;
	}

	.product__bottom {
		margin-top: 15px;
	}

	// Nav-bar Section

	.nav-bar__wrapper {
		flex-direction: column;
		padding: 25px 0 0 0;
		margin: 0;
	}

	.nav-bar__link {
		margin: 0 0 25px 0;
	}

	.nav-bar__bouquet {
		width: 100%;
		height: 320px;
	}

	.nav-bar__pictures {
		display: block;
		margin-right: 30px;

	}

	.nav-bar__bear {
		height: 260px;
	}

	.nav-bar__teddy {
		&:before {
		content: '';
		margin: 0 auto;
		left: 0;
		right: 0;
	}
	}

	.nav-bar__flowers {
		height: 100px;
	}

	.nav_bar__floret {
		margin-right: 10px;

		&:before {
		content: '';
		position: absolute;
		
		width: 100px;
		height: 98px;
		background-color: #ffd3d5;
		clip-path: circle(50% at 50% 60%);

		bottom: 0;
		right: 0;
		transform: translateX(-3%);

		z-index: -1;
	}
	}

	.floret__title {
		padding-left: 10px;
	}

	// M Stock Section

	.stock__container {
		margin-top: 40px;
		margin-bottom: 50px;
	}

	.slick-center {
		transform: none;
		overflow-y: hidden;
	}

	.stock__wrap {
		margin-top: 45px;
	}

	// M Advantages Section 

	.advantages {
		padding-bottom: 30px;
	}

	.advantages__head {
		padding-top: 40px;
	}

	.advantages__list {
		flex-direction: column;
		align-items: center;
	}

	.advantages__item {
		margin: 0;
		margin-bottom: 35px;
	}

	.advantages__sprite {
		display: block;
		margin: 0 auto;
	}

	.advantages__lead {
		text-align: center;
	}

	.advantages__description {
		text-align: center;
	}

	// M Mailing Section

	.mailing {
		position: static;
		width: 100%;
		height: auto;

		transform: translateY(0);
	}

	.mailing__container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.mailing__pictures {
		width: 100%;
		transform: translateY(0);
		height: auto;
		margin: 0 auto;
		margin-top: 15px;
	}

	.mailing__form {
		margin: 0;
		margin-top: 30px;
	}

	.mailing__label {
		
		display: block;
		text-align: center;

		font-size: 24px;
	}

	.mailing__description {
		margin: 0 auto;
		margin-top: 10px;
		width: 300px;
		text-align: center;
		font-size: 15px;
	}

	.mailing__email {
		width: 100%;
	}

	.mailing__button {
		display: block;
		transform: translateX(0);

		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 15px 50px;
	}

	// M Reviews Section 

	.reviews {
		margin-top: 50px;
		margin-bottom: 40px;
	}
	
	.reviews__wrapper {
		justify-content: space-between;

		margin-top: 30px;
	}

	.reviews__developer {
		margin: 0;
	}

	.reviews__rating {
		margin: 0;
	}

	.reviews__pictures {
		margin: 0 auto;
		transform: translateY(0);
		margin-top: 15px;
	}

	.reviews__feedback {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;

		margin-top: 10px;
	}

	.reviews__textarea {
		width: auto;
		text-align: center;
	}

	.reviews__bottom {
		display: flex;
		flex-direction: column;
		margin: 15px auto;
	}

	.reviews__excerpt {
		order: 4;

		margin-top: 15px;
	}

	.reviews__link {
		order: 3;
		margin-top: 10px;

		padding: 13px 40px;
	}

	// M Window Section (popup)

	.window__title {
		margin-top: 30px;
	}

	.window__content {
		width: 100%;
		height: auto;
	}

	.window__form {
		display: flex;
		flex-direction: column;

		margin-top: 30px;
		width: 95%;
	}

	.window__name {
		width: 100%;
		margin: 5px 0;
	}

	.window__text {
		min-width: auto;
	}

	.window__button {
		display: block;
		padding-left: 100px;
		padding-right: 100px;

		margin-bottom: 25px;
	}

	// M Information Section 

	.information__container {
		flex-direction: column;
	}

	.information__title {
		font-size: 24px;
		text-align: center;
		margin-bottom: 15px;
	}

	.information__desc {
		display: block;
		font-size: 20px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.information__description {
		text-align: center;
		width: 100%;
		margin: 0 auto;
	}

	// M Section Google Maps 

	.maps__contact {
		display: none;
	}
	
	// M Page Footer Section 

	.page-footer {
		margin: 0;
	}

	.page-footer__container {
		flex-direction: column;
	}

	.copyright {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px 0 20px 0;
		order: 6;
	}

	.copyright__desc {
		text-align: center;
	}

	.page-footer__list--wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		margin-top: 30px;
	}

	.page-footer__item {
		margin-left: 5px;

		&:first-child {
			margin-left: 0;
		}
	}

	.page-footer__list {
		display: flex;
		margin-top: 0;
		margin-left: 0;
	}

	.social-block__wrapper {
		display: flex;
		justify-content: space-around;

		margin-top: 30px;
	}

	.social-text {
		display: block;
		margin-left: 5px;
	}

	.footer-social__list {
		margin-top: 10px;
	}

	.social-block {
		margin-left: 0;
		margin-top: 0;
	}

	.social-block {
		order: 5;
	}
}

@media (min-width: 600px) and (max-width: 1200px) {
	
	// Tablet Header Section

	.page-header__pictures {
		width: 50%;
	}

	.sprite-hamburger {
		width: 35px;
		height: 35px;
	}

	.js-navigaition {
		padding-left: 5px;
	}

	@media (min-width: 700px) and (max-width: 1200px) {
		.page-header__navigation-list {
			justify-content: center;
		}
	}

	// Tablet Banner Section

	.parallax__item1 {
		transform: translateX(-100%);
	}

	.parallax__item2 {
		transform: translateY(-3px);
	}

	.banner__container {
		background-image: none;
	}

	.banner__heading {
		width: 500px;
		margin: 0 auto;
		margin-top: 40px;
	}

	.banner__description {
		margin-top: 33px;
	}

	.banner__offers {
		flex-direction: row;
		margin-top: 100px;
		margin-bottom: 0;
	}

	.offers__block {

		&:first-child {
			margin-bottom: 0;
		}
	}

	// Tablet Nav-Bar Section 

	.nav-bar__wrapper {
		justify-content: center;
		align-items: center;
	}

	.nav-bar__bouquet {
		width: 550px;
	}

	.nav-bar__bear {
		width: 520px;
	}

	.nav-bar__flowers {
		width: 490px;
	}

	.flowers-two {
		width: 460px;
		margin: 0 auto;
	}

	
	// Tablet Mailing Section 

	.mailing__container {
		flex-direction: row;
		justify-content: space-around;
	}

	.mailing__pictures {
		width: 40%;
		margin: 0;
	}

	.mailing__form {
		margin-top: 50px;
		margin-bottom: 40px;
		align-content: center;
	}

	.mailing__label {
		margin-top: 10px;
		font-size: 26px;
	}

	.mailing__description {
		font-size: 13px;
		margin-top: 18px;
	}

	// Tablet Reviews Section 

	.reviews__bottom {
		flex-direction: row;
		margin: 0 5%;
	}

	// Tablet Pabe Footer Section

	.page-footer__list--wrapper {
		flex-direction: row;
	}

	.page-footer__item {
		margin-left: 40px;
	}



}