.page-header {
	padding-top: 8px;
	padding-bottom: 17px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.06);
}

.page-header__wrapper {
	border-bottom: 1px solid #edebf0;
	padding-bottom: 8px;
}

.container-header {
	display: flex;
	
	align-items: center;
}

.page-header__image {
	max-width: 258px;
	height: auto;
}

.page-header__pictures {
	display: block;
	width: 100%;
	height: auto;
}

.page-header__pictures-network {
	display: block;
	max-width: 172px;
	height: auto;

	padding-top: 8px;
}

.page-header__information-list {
	display: flex;
	margin-left: 210px;
}

.page-header__information-item {
	position: relative;
	padding-right: 65px;

	&:last-child {
		padding-right: 0;
	}

	&:before {
		content: '';
		position: absolute;
		transform: translateX(-28px);
		width: 20px;
		height: 30px;
		
		border-radius: 1px;
		border-bottom: 2px solid #d8d0e4;
	}
  }

.page-header__information-lead {
	font-size: 10px;
	color: $col-dark-purple;
	font-weight: 500;

	padding-bottom: 8px;

	text-transform: uppercase;
}

.page-header__information {
	font-size: 14px;
	color: $col-grey;
	font-weight: 500;
	text-decoration: none;

	display: block;
}

.page-header__button {
	border: none;
	padding: 0;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.page-header__link {
	text-decoration: none;
}

.page-header__navigation {
	display: flex;
	justify-content: space-between;

	margin-top: 18px;
}

.page-header__navigation-list {
	display: flex;
	width: 100%;
}

.page-header__navigation-item {
	position: relative;
	margin-left: 30px;


	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-left: 340px;
	}
}

.page-header__navigation-link {
	font-size: 14px;
	color: $col-grey;
	line-height: 1.6;
	font-weight: 500;

	text-decoration: none;
	transition: all .30s;
	transition-timing-function: ease-in;
	
	&--active {
		color: $col-purple;
	}

	&:hover,
	&:focus {
		color: $col-purple;
	}
}

.page-header__information--sprite {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	transform: translateX(-28px);

	display: inline-block;
	width: 20px;
	height: 20px;
	fill: $col_purple;
}

.nav-item-basket {
	fill: $col_grey;
	transition: 0.35s;
	transition-timing-function: ease-in;

	&:hover,
	&:active {
		fill: $col_purple;
	}
}


