.page-html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.page-body {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 14px;

	min-width: 320px;
	height: 100%;

	overflow-x: hidden;

	margin: 0;
	padding: 0;
}

.page-body__container {
	display: flex;
	flex-direction: column;
	height: 100%;
}